.hidden {
  display:none;
}

.error {
  color:red;
  font-size: 25px;
}

.card {
  width: 50%;
  border:none;
}

img {
  width: 100%;
}

.form{
  margin-top: 30px;
}

body {
  background-color: #e0d6ff;
  font-family: 'Sometype Mono', monospace;
}

button {
  background-color:#C3B1E1;
  border: 2px solid white;
  border-radius: 10px;
  margin-bottom: 50px;
}

.btn{
  background-color: #C3B1E1;
  border-color: white;
}